:root {
  --green: #3daf40;
  --gray: #F5F5F5;
  --black: #000000;
  --white: #FFFFFF;
  --transparent: #7d000000;
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    src: local("?"),url("../font/poppins-regular.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsBold";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../font/poppins-bold.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsLight";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../font/poppins-light.ttf") format("truetype");
}

*{
  font-family: "Poppins";
  font-size: 16px;
}
h1{
  font-family: "Poppins";
  font-size: 30px;
}
h2{
  font-size: 25px;
}
.bold{
  font-family: "PoppinsBold";
}
.light{
  font-family: "PoppinsLight";
}
.black{
  color: var(--black);
}
.white{
  color: var(--white);
}
.green{
  color:var(--green);
}
.gray{
  color: var(--gray)
}
.bg-black{
  background-color: var(--black);
}
.bg-transparent{
  background-color: var(--transparent);
}
.bg-white{
  background-color: var(--white);
}
.bg-green{
  background-color: var(--green);
}
.bg-gray{
  background-color: var(--gray);
}

.padding-section{
  padding-top:75px;
  padding-bottom: 75px;
}
.dot {
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 50%;
  display: inline-block;
}

#section-homepage{
  background-image: url("../img/home1.jpg"),linear-gradient(to bottom,rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-blend-mode:multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top:150px;
  padding-bottom:150px;
}
#section-homepage h1{
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  *{
    font-family: "Poppins";
    font-size: 12px;
  }
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
  #section-homepage{
    background-image: url("../img/home1.jpg"),linear-gradient(to bottom,rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: center;
    height: auto;
    padding-top:20px;
    padding-bottom:20px;
  }
  #section-homepage h1{
    font-size: 30px;
  }
}
